input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

body {
    background-color: #323264;
    color: white;
    font-family: 'Cascadia Code';
    font-weight: 500;
}

input, input::placeholder {
    text-align: center;
    font-family: 'Cascadia Code';
}

#inputRem {
    color: #62adad;
}

#inputPx {
    color: #a4880a;
}

button {
    color: initial;
    display: block;
    margin: 0 auto;
    background-color: #e9e9ed !important;
    border: 1px solid #8f8f9d !important;
    border-radius: 6px;
}

button:hover {
    cursor: pointer;
    background-color: #d0d0d7 !important;
}

.purple {
    color: #FAD010;
}

.red {
    color: #9EFFFF;
}

span {
    font-weight: 600;
}

.clicked {
    background-color: #222244;
}

.blur {
    background-color: #323255;
}